<html>
	<head>
    <meta charset="utf-8">
	</head>
	<table cellpadding="0" cellspacing="0" border="0" width="300px" class="responsive-webinar">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td bgcolor="#<%=["1abc9c", "2ecc71", "3498db", "9b59b6", "34495e", "f39c12", "e67e22", "c0392b", "bdc3c7", "7f8c8d" ].sample%>" style="padding: 35px 20px; -webkit-border-radius:3px; border-radius:3px" align="left">
                    	<span style="font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none;"><%= pin.description %>
                    	</span>
                    	<span style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #000; text-decoration: none;"><br />dixit <%= pin.user.name %>, sur TaSoeur.fr
                    	</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
	</table>
</html>