<div class="jumbotron center">
	<h1>Contacter ta soeur</h1>
	<h3>Plusieurs possibilités</h3>
		<p>
			<%= link_to "Regarde sous les grosses pierres", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "nique@tasoeur.fr", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
</div>